/*NavBar.css*/

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: rgb(255, 255, 255);
  padding: 8px 36px 8px 36px;
}

.nav-links {
  height: 4vh;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.home,
.booking,
.contact-us,
.login,
.register {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
  color: black;
}

.home > a,
.booking > a,
.contact-us > a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.home > a:hover,
.booking > a:hover,
.contact-us > a:hover {
  color: green;
  transition: 0.3s;
}

.nav-burger {
  display: none;
}

.login > button > a {
  color: white;
  font-weight: bold;
}

.register > button > a {
  color: white;
  font-weight: bold;
}

@media (max-width: 960px) {
  .nav-desk {
    display: none;
  }
  
  .nav-links {
    height: 4vh;
    z-index: 1;
    
  }

  .nav-burger {
    display: flex;
    align-items: center;
    height: 4vh;
    background-color: rgb(255, 255, 255);
  }

  .burgerMenu {
    position: absolute;
    left: 2%;
    cursor: pointer;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    border-top: 3px solid orange;
    top: 4vh;
    left: 0;
    height: 30vh;
    width: 20%;
    background: rgb(76, 76, 81);
  }

  .home > a,
  .booking > a,
  .contact-us > a {
    text-decoration: none;
    font-weight: 400;
    color: rgb(255, 255, 255);
  }

  .login > button {
    background-color: rgb(76, 76, 81);
  }

  .register > button {
    background-color: rgb(76, 76, 81);
  }

  .login > button > a {
    color: white;
    font-weight: 400;
    font-size: x-large;
  }

  .register > button > a {
    color: white;
    font-weight: 400;
    font-size: x-large;
  }
}
