.booking {
  width: 100vw;
  height: 82vh;
  padding: 0;
  background-image: url("../../assets/bg_footballstadium.png");
  background-size: 100% 100%;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-x: auto;
}

.booking > h1 {
  text-align: center;
  margin: 0;
  padding: 8px 0 16px 0;
  background-color: rgb(49, 51, 50);
}

.booking-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: space-around;
  margin: 8px 64px 8px 64px;
  padding: 8px;
}

.arena-card > div {
  border-radius: 0 0 8px 8px;
  margin: -4px 0 12px 0;
  padding: 0;
}

.arena-card > div button {
  background-color: #4abb47;
  font-size: 18px;
  font-weight: 600;
  /* color: black; */
}

.arena-card > div.ant-card > div.ant-card-body {
  padding: 0 4px 16px 24px;
}

.arena-card > div.ant-card > div.ant-card-body > p {
  font-size: 16px;
  font-weight: 600;
}

.arena-card > div div.ant-card-head {
  background-color: aquamarine;
  border-radius: 0;
  font-weight: 700;
}

@media (max-width: 960px) {
  .booking {
    width: 100vw;
    height: 82vh;
    padding: 0;
    background-image: none;
    background-color: rgb(175, 175, 175);
  }

  .booking-card {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-around;
    top: 10%;
  }

  .booking > h1 {
    position: fixed;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 8px 0 16px 0;
    background-color: #035a00;
    z-index: 100;
  }
}
