.dashboard {
  width: 100vw;
  height: 82vh;
  background-color: rgb(78, 81, 81);
  padding: 8px 0 0 0;
}

.dashboard-button {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 400px;
  padding: 0 0 16px 0;
  left: 72%;
  align-content: center;
} 

.button-controller {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 65%;
  justify-content: center;
}