* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-image: url("src/assets/Background-football.png");
  width: 100vw;
  height: 50vh;
  background-size: cover;
  justify-content: space-around;
}

.first-section {
  display: flex;
  padding: 16px;
  padding-top: 60px;
  align-items: center;
}

h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 24px;
}

h2 {
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  width: 511px;
}

.button {
  width: 160px;
  height: 49px;
  border-radius: 4px;
  background-color: #4abb47;
  color: black;
  margin-top: 16px;
}

.carousel {
  width: 688px;
  height: 400px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}

.second-section {
  display: flex;
  justify-content: start;
  padding: 16px;
}

.slider {
  display: flex;
  flex-direction: column;
  width: 688px;
  height: 400px;
}

.background-activity {
  background-color: #242923;
  height: 331px;
  display: flex;
  justify-content: space-evenly;
}

.card-activity {
  position: relative;
  color: white;
}

.img-activity {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  margin-top: 24px;
  margin-left: 24px;
}

.text-activity {
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 960px) {
  .body {
    background-image: url("src/assets/Background-football.png");
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-size: cover;
  }

  .first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    order: 3;
    margin-top: 12px;
  }

  .carousel {
    order: 0;
  }

  .content h1 {
    margin-top: 24px;
    padding: 24px;
  }

  .content h2 button {
    margin-top: 24px;
    order: 5;
  }

  .carousel {
    width: 650px;
    height: 500px;
  }

  .content button {
    margin-bottom: 48px;
  }

  .second-section{
    margin-top: 24px;
  }

  .img-activity {
    margin-top: 0;
  }
}
