.login-form {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 82vh;
  background-image: url("../src/assets/entrance.jpg");
  background-size: 100% 100%;
}

.login-box {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100vw;
  height: 80%;
  top: 10%;
}

.login-formbasic {
  display: flex;
  position: relative;
  width: 600px;
  height: 500px;
  top: 5%;
  padding: 16px 16px 4px 4px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.94);
  z-index: 100;
}

.login-label-user {
  font-size: 1.2rem;
  font-weight: 600;
}

.login-label-password {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

svg {
  color: green;
  margin-left: 28px;
  width: 28px;
  height: 28px;
}

.login-button {
  height: 2.4em;
  font-size: 1.2rem;
  font-weight: 500;
}

.login-button > p {
  margin-top: 60%;
  font-size: 12px;
  color: black;
}

.login-button > a > span {
  position: relative;
  color: rgb(13, 0, 255);
  font-size: 12px;
  bottom: 10%;
}

.signup {
  display: none;
}

@media (max-width: 960px) {
  .login-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 82vh;
    background-image: none;
  }

  .login-box {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 80%;
  }

  .login-formbasic {
    left: 0%;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 16px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 0px;
    background-color: none;
  }

  .login-button > p {
    display: none;
  }

  .login-button > a > span {
    display: none;
  }

  .signup {
    display: flex;
    /* position: absolute; */
    position: fixed;
    justify-content: space-around;
    width: 500px;
    z-index: 100;
    margin: 600px 0 0 0;
  }
  .signup > p {
    color: black;
    font-size: 16px;
    font-weight: 400;
  }

  .signup > a > p {
    color: blue;
    font-size: 16px;
    font-weight: 400;
  }
}
