.profile-body {
  width: 100vw;
  height: 82vh;
  /* background-color: rgb(4, 162, 109); */
  background-image: url("../../assets/timothy-tan-PAe2UhGo-S4-unsplash.jpg");
  background-size:100% 100%;
  padding: 16px;
}

.profile-welcome {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 400px;
  align-items: center;
  margin-top: 5%;
}

.profile-welcome > h1 {
  position: relative;
  font-size: 64px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
}

.profile-welcome > p {
  margin-top: 1%;
  font-size: 36px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
}


.profile-dashboard {
  margin-top: 5%;
}

.profile-dashboard > a {
  font-size: 30px;
  font-weight: 600;
  text-decoration: underline;
  color: darkorchid;
  
}

.profile-booking > a {
  font-size: 30px;
  font-weight: 600;
  color:pink;
  text-decoration: underline;
}

.profile-logout > button {
  margin-top: 30%;
  padding: 4px;
  width: 150px;
  height: fit-content;
  font-size: 24px;
  font-weight: 600;
}

@media (max-width: 960px) {
  .profile-body {
    width: 100vw;
    height: 82vh;
    background-image: none;
    background-color: rgb(4, 162, 109);
    padding: 4px;
  }

  .profile-welcome {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 400px;
    align-items: center;
    margin-top: 5%;
  }

  .profile-welcome > h1 {
    position: relative;
    font-size: 48px;
    font-weight: 700;
    font-family: "Times New Roman", Times, serif;
  }

  .profile-welcome > p {
    margin-top: 1%;
    font-size: 28px;
    font-weight: 600;
    color: rgb(0, 42, 255);
    font-family: "Times New Roman", Times, serif;
  }

  .profile-dashboard > a {
    font-size: 26px;
    font-weight: 600;
  }

  .profile-booking > a {
    font-size: 26px;
    font-weight: 600;
  }

  .profile-logout > button {
    padding: 4px;
    width: 150px;
    height: fit-content;
    font-size: 24px;
    font-weight: 600;
  }
}
