.upload {
  width: 100vw;
  height: 82vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-image: url("../../assets/blocks-fletcher-hGlBGfql5Kc-unsplash.jpg");
  background-size: 100% 100%;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.7);
}

.upload-container {
  display: flex;
  position: relative;
  border-radius: 16px;
  width: 100vw;
  height: auto;
  padding: 16px;
  justify-content: center;
}

.upload > h2 {
  position: relative;
  width: 100vw;
  color: black;
  font-size: 24px;
  font-weight: 600;
  margin: -15% 0 3% 0;
  padding: 96px 0 0 0;
  text-align: center;
}

.upload-slip {
  background-color: rgb(255, 255, 255, 0.5);
  width: 640px;
  height: 480px;
  border-radius: 16px;
  padding: 24px;
}

.upload-slip > h2 {
  margin-top: 10%;
  margin-left: 10%;
  font-size: 32px;
  font-weight: 800;
  color: black;
}

.upload-slip > input {
  margin-top: 8px;
  border-radius: 4px;
  padding: 8px;
  color: black;
  font-size: 28px;
  font-weight: 400;
  border: 0.1px solid rgb(202, 205, 202);
}

div > a {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 700;
}

.upload-slip > button {
  margin-top: 10%;
  font-size: 24px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(15, 79, 151);
}

@media (max-width: 960px) {
  .upload {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 82vh;
    background-image: none;
    background-color: aliceblue;
  }

  .upload-container {
    display: flex;
    position: relative;
    top: -25%;
    border-radius: 16px;
    width: 100vw;
    height: auto;
    padding: 24px;
    margin: 0;
    justify-content: center;
  }

  .upload-slip {
    background-color: aliceblue;
    width: auto;
    height: auto;
    margin: 0;
    padding: 32px;
  }

  .upload-slip > h2 {
    margin-top: 10%;
    margin-left: -32%;
    font-size: 32px;
    font-weight: 800;
    color: black;
  }

  .upload-slip > input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8px;
    border-radius: 4px;
    padding: 8px;
    color: black;
    font-size: 24px;
    font-weight: 400;
    border: 0.1px solid rgb(202, 205, 202);
  }

  .upload-slip > button {
    margin-top: 2%;
    margin-left: -72%;
    font-size: 24px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 79, 151);
  }
}
